.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MuiAppBar-colorPrimary {
  background-color: #ff9084 !important;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.fullNames {
  padding-bottom: 30px;
}

.topLeaf {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 15px;
}

.footerSignature {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
}
.savethedate {
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif !important;
}

.qanda {
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif !important;
  padding: 30px 0;
}

.wrapperqanda{
  margin: 50px auto;
  padding: 0 20px;
  max-width: 800px;
  font-size: 16px;
}

.wrappersched{
  margin: 50px auto;
  padding: 0 20px;
  max-width: 800px;
}

.question {
  font-family: 'Cormorant Garamond', serif !important;
  font-weight: 600 !important;
}

.savedate {
  font-size: 1.8em !important;
  letter-spacing: 0.2em !important;
  font-weight: 300 !important;
  text-transform: uppercase;
}
.tool-languages {
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 10px 0 10px;
}

.mainPageH1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4em;
  line-height: 0.8em;
  margin-top: -2em;
  text-transform: uppercase;
  text-align: center;
}

.storyDate {
  font-size: 1.2em;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 0.15em;
  font-weight: 300;
}

.gridSpacer {
  padding-top: 5em !important;
}
.mike {
}

.mel {
  letter-spacing: 0.103em;
}
.mainPageH3 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  line-height: 1.5em;
  /* padding: 10px 0 30px 0; */
}
a .mainPageH2 {
  text-decoration: none;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  line-height: 1.5em;
}

.timer {
  text-decoration: none;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  line-height: 1.5em;
}

a .tool-languages {
  color: white;
  line-height: 30px;
}

.copyrightLink {
  color: black !important;
}

.copyrightLink a:link {
  text-decoration: none;
  color: black;
}

.copyrightLink a:visited {
  text-decoration: none;
  color: black;
}

.copyrightLink a:hover {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.copyrightLink a:active {
  text-decoration: none;
  color: black;
}

:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* .App-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.6;
} */

.names {
  margin: 10em 1em;
}
.names h3 {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1em;
  text-transform: uppercase;
}

.leftTitle {
  border-right: 1px black solid;
}

.leftTitle h4 {
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', serif !important;
}
.story {
  padding: 5em 0;
  font-family: 'Cormorant Garamond', serif !important;
}

.smallAnd {
  font-size: 0.3em;
  letter-spacing: 0.4em;
}

.galleryImages {
  height: 30em;
}

.galleryImagesLg {
  width: 30em;
  max-width: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
